.mainmain {
    overflow: hidden;
}


.section1 {
    overflow: hidden;
    background-color: black;
}

header {
    background-color: black;
    height: 3rem;
    color: white;
    padding-top: 0.5rem;
    padding-left: 1rem;
}


.box {
    height: 25rem;
    width: 100%;
    background-color: white;
    margin: auto;
    color: white;
    background-size: cover;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.input {
    background-color: transparent;
    color: white;
    border: 0;
    outline: 0;
    width: 10rem;
}

.input::placeholder {
    color: #D8D8D8;
    opacity: 0.5;
}

.search-div {
    color: white;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
}

.search-icon {
    background: transparent;
    color: white;
    border: none;
}

.social-icon {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    margin-top: -30px;
    margin-right: 20px;
    cursor: pointer;
}

.social-icon2 {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    margin-top: -23px;
    margin-right: 60px;
    cursor: pointer;
}

.temp {
    padding: 0.5rem;
}

.feelslike {
    margin-top: -1rem !important;
}

.desc-child {
    vertical-align: middle;
    display: inline-block;
    margin-top: 1rem;
}

.desc {
    display: inline-block;
    font-weight: bolder;
    font-size: 2ch;
    margin-left: 1.5rem !important;
}

.img {
    width: 3rem;
    height: 3rem;
    display: inline-block; 
}

.img img {
    width: 3rem;
    height: 3rem;
}

.bg-img img {
    height: 30rem;
    width: 40rem;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: auto
}

.hour {
    padding: 0.5rem;
    width: 100%;
}

.hourText {
    color: white;
    font-size: 20px;
}

.cityName {
    padding-top: 3rem;
}

.reload {
    border: none;
    background-color: transparent;
    color: white;
    width: 100% !important;
    transition: color 250ms ease-out,
}

.reload:hover {
    color: rgb(219, 219, 219)
}


.section2 {
    height: 30rem;
    width: 100%;
    background-color: black;
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.forecast {
    border-right: solid 1px white;
    margin-right: 10px;
    height: 16rem;
    width: 45% !important;
    color: white;
    
}

.forecast2 {
    height: 16rem;
    width: 45% !important;
    color: white;
}

th, td {
    color: white;
}

