.mainmain {
    overflow: hidden;
}


.main {
    overflow: hidden;
    background-color: #182747;
    padding: 0% 25%;
    
}

header {
    background-color: black;
    height: 3rem;
    color: white;
    padding-top: 0.5rem;
    padding-left: 1rem;
}


.box {
    height: 23rem;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    margin: auto;
    color: white;
    margin-top: 3rem;
    
}

.section2 {
    height: 15rem;
    width: 100%;
    background-color: #D8D8D8;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: auto;
    margin-top: 1rem;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.input {
    background-color: transparent;
    color: white;
    border: 0;
    outline: 0;
    width: 10rem;
}

.input::placeholder {
    color: #D8D8D8;
    opacity: 0.5;
}

.search-div {
    color: white;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
}

.search-icon {
    background: transparent;
    color: white;
    border: none;
}

.social-icon {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    margin-top: -30px;
    margin-right: 20px;
    cursor: pointer;
}

.social-icon2 {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    margin-top: -23px;
    margin-right: 60px;
    cursor: pointer;
}

.temp {
    padding: 0.5rem;
}

.desc {
    display: inline-block;
    font-weight: bolder;
    font-size: 2ch;
}

.img {
    width: 3rem;
    height: 3rem;
    display: inline-block; 
}

.img img {
    width: 3rem;
    height: 3rem;
}

.bg-img img {
    height: 30rem;
    width: 40rem;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: auto
}

.hour {
    background: rgba(255, 255, 255, 0.103);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.hourText {
    color: white;
    font-size: 20px;
}

.cityName {
    padding-top: 2rem;
}

.reload {
    border: none;
    background-color: transparent;
    color: white;
    width: 5%;
    transition: color 250ms ease-out
}

.reload:hover {
    color: rgb(219, 219, 219)
}
